.Comment {
    width: auto;
    padding: 20px;
    margin-top: 10px;
    /* background-color: powderblue; */
    /* color: white; */
    /* background-color: #2e285a; */
    display: grid;
    border-radius: 5%;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-items: center;
    /* justify-content: center; */
    position: relative;
    animation: mymove 0.5s;
    animation-iteration-count: 1;
}

.extraData {
    display: grid;
    justify-items: center;
    grid-column-start: 3;
    padding: 20px;
    margin-top: 10px;
}

.Comment span {
    display: flex;
    align-items: center;
}

@keyframes mymove {
    from {
        left: -200px;
    }

    to {
        left: 0px;
    }
}


@media only screen and (max-width: 800px) {
    .Comment {
        padding: 0;
        width: 90%;
        height: 100%;
        margin: 0;
        border-radius: 0%;
    }

    .extraData {
        grid-column-start: 2;
        grid-column-end: 5;
        margin: 0;
        padding: 0;
    }

    .Comment {
        grid-column-end: 2;
    }
}