.Results {
    margin: auto;
    background-color: white;
    width: 60%;
    /* height: 50px; */
    height: fit-content;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.10);
    padding: 20px 40px 20px 40px;
    display: grid;
    box-sizing: border-box;
    border: 1px solid black;
}

.ResultsInner {
    display: grid;
    grid-template-columns: 40% 25% 25% 10%;
    justify-items: center;
    align-items: center;
}

.filterArea {
    width: 60%;
    margin: auto;
    background-color: #457b9d;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #2e285a;
    border-top: 0;
    padding-bottom: 10px;

}

.filterArea input {
    width: auto;
    text-align: center;
}

.filterArea input:focus::placeholder {
    color: transparent;
}

.Header {
    margin: auto;
    width: 60%;
    display: grid;
    grid-template-columns: 40% 25% 25% 10%;
    padding: 20px 40px 20px 40px;
    justify-items: center;
    border-left: none;
    border-right: none;
    font-weight: bold;
    color: azure;
    background-color: #2e285a;
    box-sizing: border-box;
}





@media only screen and (max-width: 800px) {
    .Results {
        width: 100%;
        font-size: small;
        padding-left: 0;
        padding-right: 0;
    }

    .Header {
        width: 100%;
        font-size: small;
        padding-left: 0;
        padding-right: 0;
        grid-template-columns: 55% 20% 20% 5%;
        border-radius: 0;
    }

    .ResultsInner {
        /* justify-content: space-around; */
        grid-template-columns: 55% 20% 20% 5%;
        font-size: smaller;
        margin-right: 5px;

    }

    .ResultsInner svg {
        height: 18px;

    }

    .filterArea {
        width: 100%;
        border: none;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
}