.Input {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.Input input {
    height: 50px;
    width: 250px;
    text-align: center;
}

.Ratings {
    margin-top: 10px;
}

.Input input:focus::placeholder {
    color: transparent;
}

.Container {
    background-color: aliceblue;
    margin: auto;
    width: 60%;
    margin-top: 50px;
    padding: 40px;
    padding-bottom: 20px;
    position: relative;
}

.TextArea {
    background-color: aliceblue;
    margin: auto;
    width: 60%;
    padding: 40px;
    padding-bottom: 20px;
    position: relative;
    border-top: 1px solid lightsteelblue;
}

.TextArea textarea {
    margin: auto;
    display: block;
    width: 70%;
    height: 200px;
}

p {
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

.Ratings button {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child {
    position: absolute;
    bottom: 10px;
    align-items: center;
    display: flex;
}
.child p {
    margin: 0;
    padding: 0;
    color: cornflowerblue;
    text-decoration: underline;
    font-weight: 500;
    
}
.child p:hover {
    color: blue;
}

.test {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: cornflowerblue;
    text-decoration: underline;
    font-weight: 500;
    padding-bottom: 5px;
}

.test p {
    margin-right: 0;
}





@media only screen and (max-width: 800px) {
    .Container {
        width: 100%;
        font-size: medium;
        padding: 0;
        padding-top: 20px;
        margin-top: 0px;
        padding-bottom: 20px;
    }

    .Input {
        flex-direction: column;
    }

    .Input input {
        width: 90%;
        height: 50px;
    }

    .Input .secondary {
        width: 40%;
        margin-top: 20px;
    }



    .child {
        font-size: x-small;
        bottom: 1px;
        left: 3px;
    }

    .TextArea {
        width: auto;
        padding: 20px;

    }

    .TextArea textarea {
        height: 200px;
        
    }

    
}

